/*   FONTS!!!!!!   */
@import url('https://fonts.googleapis.com/css?family=Lexend+Exa|Nanum+Gothic+Coding&display=swap');

/*   BASE!!!!!!!   */
body{
	font-family: 'Nanum Gothic Coding', monospace;
	background-color: #364958;
	color: #A2BCE0;
}

h1, h2{
	font-family: 'Lexend Exa', sans-serif;
}

h1{
	color: #364958;
	text-shadow: 1px 1px 2px rgba(122,186,237,1);
	padding-left: 30px;
	padding-right: 30px;
}

.follow h1{
	color: rgba(122,186,237,1);
	text-shadow: 1px 1px 2px rgba(70,91,107,1);
}

/* @ TEAM, I've commented out the pictures in the HTML to work with the text better */
.big-message section{
	max-width: 50%;
	background-color: rgba(105, 144, 173, 0.3);
	padding-left: 20px;
	padding-right: 20px;
}

nav a{
	font-size: 20px;
}

a{
	color: white;
}

a:hover{
	font-style: italic;
	text-shadow: 1px 1px 2px white;
}

header{
	background: linear-gradient(90deg, rgba(122,186,237,1) 0%, rgba(17,145,246,1) 26%, rgba(54,107,149,1) 63%, rgba(70,91,107,1) 100%);
	position: fixed;
	left:0;
	width: 100%;
	top:0;
}

/*   LAYOUT!!!!!!   */

body{
	margin: 0 auto;
	width: 95%;
	max-width:1200px;
}

/* Thanks for the help prof :) */

.big-message{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh; /*vh viewport-height calculates vh dynamically */
}

.persistent{
	position:fixed;
	left:0;
	width: 100%;
}

header.persistent{top:0;}
footer.persistent{bottom:0;}

.container{
	display:flex;
	justify-content: space-between;
}

article{
	margin-top: 100px;
}

.f-pattern header{
	display: flex;
	justify-content: space-between;
}

.f-pattern nav a{
	align-self: center;
}

.f-pattern footer{
	padding-bottom: 15px;
}

.cs-majors{
	background-color: rgba(105, 144, 173, 0.3);
}

.odd, .cs-majors{
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 20px;
	margin: 20px;
	padding-top: 10px;
}

.f-pattern .odd{
	background-color: rgba(114, 90, 193, 0.3);
}

/*   STATE!!!!!!   */


